<%= error_messages_for 'trip' %>

<!--[form:trip]-->
<div class="control-group">
	<label class="control-label" for="trip_name">Name</label>
	<div class="controls">
		<%= text_field 'trip', 'name', :size => 90 %>
	</div>
</div>

<div class="control-group">
	<label class="control-label" for="trip_date">Date</label>
	<div class="controls">
		<%= date_select 'trip', 'date'  %>
	</div>
</div>

<div class="control-group">
	<label class="control-label" for="trip_leader">Leader</label>
	<div class="controls">
		<%= text_field 'trip', 'leader'  %>
	</div>
</div>

<div class="control-group">
	<label class="control-label" for="trip_reference_url">Reference URL</label>
	<div class="controls">
		<%= text_field 'trip', 'reference_url'  %>
	</div>
</div>

<div class='control-group'>
	<label class="control-label" for="trip_notes">Notes</label>
	<div class="controls">
		<%= text_area 'trip', 'notes'  %>
	</div>
</div>

<!--[eoform:trip]-->

