<div class="lead"><%= @page_title %></div>

<div class='row'>       

	<div class='span6'>
               
		<div class="pagecontentmodule">
			<div class="moduletitle">Trip Summaries</div>
		</div>

		<%= render :partial => 'trips/summary', :collection => @trips %>
	</div>
	
	<div class='span6'>     
        <% i = 1 %>
	    
	    <div class="pagecontentmodule">   
 			<div class="moduletitle">Rankings</div>
			<div class="pagecontentitem">
		       <table>                   
					<% for trip in @trips do %>
					    <tr>
			                <td align="right"><%= trip.species.size %></td>
					        <td align="right">#<%= i %></td>
							<td style="nowrap"><%= link_to trip.name, trip_url(trip) %>, <%= short_nice_date(trip.date) %></td>
					    </tr>
				        <% i += 1 %>           
					<% end %>
			   </table> 
			</div>    
		</div>
	</div>         
</div>
