<div class="lead"><%= @page_title %></div>

<div class='row'>
	<div class='col-md-6'>
		<div class="moduletitle">Photos by Bill Walker</div>  

		<%= render :partial => 'photos/gallery', :object => @family_photos %>
	</div>

	<div class='col-md-6'>
	    <div id='mapContainer'>
			<% if (Location.with_lat_long(@family_locations).length > 0) %>
				<% @map_module_title = 'Family Map' %>                       
				<%= render :partial => 'locations/google', :locals => { :map_width => column_width, :map_height => column_width, :locations_json_url => '/families/locations/%s.json' % @page_title } %>
			<% end %>
	    </div>

		<div class="moduletitle">Notes</div>

		<% if @family_trips.count > 50 then %>
	        <div class="modulesubtitle">Sightings by Month</div>  

			<div class="pagecontentitem">
				<% month_totals = Sighting.map_by_month(@family_sightings) %>
				<%= render :partial => 'sightings/species_by_month', :object => month_totals %>
			</div>
		<% else %>
			<div class="pagecontentitem">
				<%= show_trip_list(@family_trips, false) %>
			</div>
		<% end %>
	</div>
</div>

<%= render :partial => 'taxons/multi_column_list', :object => @family_taxons %>
