<h3>
  <%= @page_title %>
  (<i><%= @taxon.latin_name %></i>) in
  <i><%= link_to @taxon.family, taxon_family_name_path(@taxon.family) %></i>
</h3>

<% has_photos?(@taxon) do %>
  <div class='row'>
    <div class='col-md-12'>
      <h4>Photos by Bill Walker</h4>  

      <%= render :partial => 'photos/gallery', :object => @taxon.photos %>
    </div>
  </div>
<% end %>

<div class='row'>

  <div class='col-md-6'>  
    <div class="pagecontentmodule">
      <% if @taxon.common? %>
        <h4>Species Notes</h4>  

        <div class="pagecontentitem">
          From <%= render :partial => 'sightings/full_details', :object => @taxon.sightings.earliest %> to 
          <%= render :partial => 'sightings/full_details', :object => @taxon.sightings.latest %>,
          we've seen <%= @taxon.common_name %> roughly
          <%= @taxon.sightings.size / (@taxon.trips.latest.date.year - @taxon.trips.earliest.date.year) %>
          times a year
          at <%= @taxon.locations.size %> different locations.         
        </div>  

        <h5>Sightings by Month</h5>  
        
        <div class="pagecontentitem">
          <% month_totals = Sighting.map_by_month(@taxon.sightings) %>
          <%= render :partial => 'sightings/species_by_month', :object => month_totals %>
        </div>
      <% else %>
        <h4>Sightings</h4>  
        <%= render :partial => 'sightings/date_and_location_link', :collection => Sighting.sort_chronological(@taxon.sightings) %>
      <% end %>
    </div>
  </div>

  <div class='col-md-6'>  
    <div id='mapContainer'>
      <% if (@taxon.locations.with_lat_long.size > 0) %>
      <% @map_module_title = 'Species Map' %>                       
        <%= render :partial => 'locations/google', :locals => { :map_width => column_width, :map_height => column_width, :locations_json_url => '/taxons/locations/%s.json' % @taxon.id } %>
      <% end %>
    </div>
  </div>

</div>
