<%= error_messages_for 'sighting' %>

<!--[form:sighting]-->



<div class="control-group">
	<label class="control-label" for="sighting_location">Location</label>
	<div class="controls">
		<%= collection_select("sighting", "location_id", Location.find(:all, :order => 'name'), :id, :name) %>
	</div>
</div>

<div class="control-group">
	<label class="control-label" for="sighting_trip">Trip</label>
	<div class="controls">
		<%= collection_select("sighting", "trip_id", Trip.find(:all, :order => 'date'), :id, :date) %>
	</div>
</div>

<div class="control-group">
	<label class="control-label" for="sighting_taxon_latin_name">Species</label>
	<div class="controls">
		<%= text_field_tag 'taxon_common_name', @sighting.taxon.common_name, :class => 'ajax-typeahead', :data => { :link => '/taxons/typeahead', :provide => "typeahead", :items => 8 }, :minLength => 4 %>
	</div>
</div>

<div class="control-group">
	<div class="controls">
		<label class="checkbox" for="sighting_exclude">
			<%= check_box 'sighting', 'exclude'  %>
			Exclude
		</label>
	</div>
</div>

<div class="control-group">
	<div class="controls">
		<label class="checkbox" for="sighting_heard_only">
			<%= check_box 'sighting', 'heard_only'  %>
			Heard only
		</label>
	</div>
</div>

<div class="control-group">
	<label class="control-label" for="count">Count</label>
	<div class="controls">
		<%= text_field 'sighting', 'count'  %>
	</div>
</div>

<div class='control-group'>
	<label class="control-label" for="sighting_notes">Notes</label>
	<div class="controls">
		<%= text_area 'sighting', 'notes'  %>
	</div>
</div>

<!--[eoform:sighting]-->

