<% sighting = onelinelink %>

<div id="<%= taxon_anchor_name(sighting.taxon) %>">
	<% editing_is_allowed?() do %>
		<%= check_box_tag "sighting_ids[]", sighting.id %>
		<%= link_to sighting.taxon.common_name, edit_sighting_url(sighting) %>
	<% end %>

	<% editing_is_not_allowed?() do %>
		<%= link_to sighting.taxon.common_name, taxon_latin_name_path(sighting.taxon) %>
	<% end %>

	<% if (sighting.heard_only) then %>
		(h)
	<% end %>

	<% if (sighting.count) then %>
		[<%= sighting.count %>]
	<% end %>
	
	<% if @show_location_abbreviation %>
		<span class="text-success"><%= sighting.location.abbreviation %></span>
	<% end %>
		
	<% has_notes?(sighting) do %>
		<div class="notes"><%= sighting.notes %></div>
	<% end%>
</div>
