<% sightings_that_share_taxon = onelinemultilink %>
<% a_sighting = sightings_that_share_taxon[0] %>

<div class="pagecontentitem" id="<%= a_sighting.taxon.common_name.gsub(/[ '\-\(\)\/\.]/, '').downcase %>">
	<%= link_to a_sighting.taxon.common_name, taxon_latin_name_path(a_sighting.taxon) %>

	<% sightings_that_share_taxon.each do | sighting | %>
		<% editing_is_allowed?() do %>
			<%= link_to '[edit]', :controller => 'sightings', :id => sighting, :action => 'edit' %>
		<% end %>

		<% if (sighting.heard_only) then %>
			(h)
		<% end %>

		<% if (sighting.count) then %>
			[<%= sighting.count %>]
		<% end %>
	
		<% if @show_location_abbreviation %>
			<span class="location-abbreviation"><%= sighting.location.abbreviation %></span>
		<% end %>
	
		<% editing_is_allowed?() do %>
			<%= link_to '[delete]', sighting_path(sighting), :confirm => 'Delete "' + sighting.taxon.common_name + '", are you sure?', :method => 'delete' %>
		<% end %>
	
		<% has_notes?(sighting) do %>
			<div class="notes"><%= sighting.notes %></div>
		<% end%>
	<% end %>
</div>
