<% total_columns = (Sighting.year_range.to_a.size) + 1 %>
                                  
<table class='table'>
	<tr>
		<td></td>
		<% for year in Sighting.year_range do %>
			<td align="right"><%= year %></td>
		<% end %>
	</tr>      
		
	<% for key in Taxon.sort_taxonomic(@map.keys) %>
		<tr valign="top">
			<td><%= key.common_name %></td>
			<% for year in Sighting.year_range do %>
				<td align="right"><%= @map[key][year] %></td>	
			<% end %>
		</tr>
	<% end %>
	
	<% if (@map.keys.size > 20) then %>
		<tr>
			<td>Total</td>
			<% for year in Sighting.year_range do %>
				<td align="right"><%= @totals[year] %></td>
			<% end %>
		</tr>
	<% end %>
	
	<% if (@map.keys.size > 30) then %>
		<tr>
			<td></td>	
			<% for year in Sighting.year_range do %>
				<td align="right"><%= year %></td>
			<% end %>
		</tr>
	<% end %>
</table>
