<div class="lead">
	<%= @page_title %>
</div>
<div class="pagecontentmodule">
	<div class="modulesubtitle">Date</div>
	<div class="pagecontentitem">
	        <%= link_to safe_nice_trip_date(@sighting), trip_url(@sighting.trip) %>
	</div>

	<div class="modulesubtitle">Location</div>
	<div class="pagecontentitem">
	        <%= link_to safe_location_name(@sighting), location_url(@sighting.location) %>
	</div>

	<div class="modulesubtitle">Taxon</div>
	<div class="pagecontentitem">
	        <%= link_to @sighting.taxon.common_name, taxon_latin_name_path(@sighting.taxon) %>
	</div>

	<% has_notes?(@sighting) do %>
		<div class="modulesubtitle">Notes</div>  
		<div class="pagecontentitem"><%= @sighting.notes %></div>
	<% end %>

	<% has_count?(@sighting) do %>
		<div class="modulesubtitle">Count</div>  
		<div class="pagecontentitem"><%= @sighting.count %></div>
	<% end %>

	<div class="modulesubtitle">Exclude</div>
	<div class="pagecontentitem"><%= @sighting.exclude %></div>

	<div class="modulesubtitle">Heard only</div>
	<div class="pagecontentitem"><%= @sighting.heard_only %></div>
</div>
