<%= error_messages_for 'species' %>

<!--[form:species]-->
<p><label for="species_abbreviation">Abbreviation</label><br/>
<%= text_field 'species', 'abbreviation'  %></p>

<p><label for="species_latin_name">Latinname</label><br/>
<%= text_field 'species', 'latin_name'  %></p>

<p><label for="species_common_name">Commonname</label><br/>
<%= text_field 'species', 'common_name'  %></p>

<p><label for="species_notes">Notes</label><br/>
<%= text_area 'species', 'notes'  %></p>

<p><label for="species_reference_url">Referenceurl</label><br/>
<%= text_field 'species', 'reference_url'  %></p>

<p><label for="species_aba_countable">Abacountable</label><br/>
<%= text_field 'species', 'aba_countable'  %></p>
<!--[eoform:species]-->

