<% species = page_header %>

<div class="lead">
	<%= @page_title %>
	(<i><%= species.latin_name %></i>) in
	<i><%= link_to species.family.common_name, family_url(species.family) %></i>

	<span style="font-size: 9pt">
		<% editing_is_allowed?() do %>
			<%= link_to 'edit', edit_species_path(species) %>
		<% end %>
	</span>

</div>

<% if ! species.aba_countable %><div class="pageheaderitem">NOT ABA COUNTABLE</div><% end %>     
	
<!--
	<div class="pageheaderitem">
		<%= link_to 'normal view', :id => species, :action => 'show' %> | 
		<%= link_to 'by year view', :id => species, :action => 'show_locations_by_year' %> |
		<%= link_to 'by month view', :id => species, :action => 'show_locations_by_month' %>
		<% has_reference_url?(species) do %>
			| <a href="<%= species.reference_url %>">see also...</a>
 		<% end %>
	</div>               
-->
