<%= render :partial => 'page_header', :object => @species %>

<div class='row'>

	<div class='span4'>
		<div class="pagecontentmodule">
			<div class="moduletitle">Photos by Bill Walker</div>	

			<%= render :partial => 'photos/gallery', :object => @species.photos %>
		</div>
	</div>

	<div class='span4'>  
		<div class="pagecontentmodule">
			<% if @species.notes? or @species.common? %>
				<div class="moduletitle">Species Notes</div>	
			<% end %>

			<% if @species.common? %>
				<div class="pagecontentitem">
					From <%= render :partial => 'sightings/full_details', :object => @species.sightings.earliest %> to 
					<%= render :partial => 'sightings/full_details', :object => @species.sightings.latest %>,
					we've seen <%= @species.common_name %> roughly
					<%= @species.sightings.size / (@species.trips.latest.date.year - @species.trips.earliest.date.year) %>
					times a year
					at <%= @species.locations.size %> different locations.         
				</div>	
			<% end %>

			<% has_notes?(@species) do %>
				<div class="pagecontentitem"><%= @species.notes %></div>
			<% end %>
		</div>

		<% if @species.common? %>
			<div class="pagecontentmodule">
				<div class="modulesubtitle">Sightings by Month</div>	

				<div class="pagecontentitem">
					<% month_totals = Sighting.map_by_month(@species.sightings) %>
					<%= counts_by_month_image_tag(month_totals) %>
				</div>
			</div> 
		<% else %>
			<div class="pagecontentmodule">
				<div class="moduletitle">Sightings</div>	
				<%= render :partial => 'sightings/date_and_location_link', :collection => Sighting.sort_chronological(@species.sightings) %>
			</div>
		<% end %>

	</div>
	<div class='span4' id='mapContainer'>
		<% if (@species.locations.with_lat_long.size > 0) %>  
			<%= render :partial => 'locations/google', :object => @species.locations.with_lat_long, :locals => { :map_width => column_width, :map_height => column_width, :locations_json_url => '/species/locations/%s.json' % @species.id }  %>
		<% end %>
	</div>

</div>
