<div class="lead"><%= @page_title %> (<i><%= @family.latin_name %></i>)</div>


<div class='row'>
	<div class='span4'>
		<div class="moduletitle">Photos by Bill Walker</div>  

		<%= render :partial => 'photos/gallery', :object => @family.photos %>
	</div>

	<div class='span4'>
		<% if @family.common? %>
			<div class="pagecontentmodule">
				<div class="moduletitle">Family Notes</div>	
				<div class="pagecontentitem">
					From <%= render :partial => 'sightings/full_details', :object => @family.sightings.earliest %> to 
					<%= render :partial => 'sightings/full_details', :object => @family.sightings.latest %>,
					we've seen <%= @family.common_name %> roughly
					<%= @family.sightings.size / (@family.trips.latest.date.year - @family.trips.earliest.date.year) %>
					times a year
					at <%= @family.locations.size %> different locations.         
				</div>	

				<div class="modulesubtitle">Sightings by Month</div>	

				<div class="pagecontentitem">
					<% month_totals = Sighting.map_by_month(@family.sightings) %>
					<%= counts_by_month_image_tag(month_totals)%>
				</div>
			</div>   
        <% else %>
			<div class="pagecontentmodule">
				<div class="moduletitle">Family Notes</div>	
				<div class="pagecontentitem">
					We have seen <%= @family.common_name %> <%= @family.sightings.length %> times since we started birding.
				</div>	
			</div>

			<%= show_trip_list(@family.trips, true) %>
        <% end %>       
   	</div>

   	<div class='span4' id='mapContainer'>
		<% if (Location.with_lat_long(@family.locations).length > 0) %>
			<% @map_module_title = 'Family Map' %>                       
			<%= render :partial => 'locations/google', :object => Location.with_lat_long(@family.locations), :locals => { :map_width => column_width, :map_height => column_width, :locations_json_url => '/families/locations/%s.json' % @family.id }  %>
		<% end %>
  	</div>
</div>

<div class='row'>
	<div class='span12'>
		<%= render :partial => 'species/undivided_list', :object => @family.species_seen, :locals => { :show_headings => true } %>
	</div>
</div>
