<h3>
	<%= @page_title %>
	<span style="font-size: 9pt"><%= link_to 'show', state_url(@state) %></span>
</h3>

<div class="pagecontentmodule">
	<div class="pagecontentitem">
		<%= form_for @state, :url => state_path(@state), :html => { :class => 'form-horizontal' } do |form| %>
		  <%= render :partial => 'form' %>
		  <%= submit_tag 'Save' %>
		<% end %>
	</div>
</div>

