<%= render :partial => 'page_header', :object => @state %>

<div class='row'>
	<div class='col-sm-12 col-md-8 col-lg-7'>
		<div class="moduletitle">Photos by Bill Walker</div>  

		<%= render :partial => 'photos/gallery', :object => @state.photos %>
	</div>

	<div class='col-sm-6 col-md-4 col-lg-5'>
		<% if (@state.common?) %>
			<div class="pagecontentmodule">
				<div class="moduletitle">When we bird <%= @state.name %></div>	
				<div class="pagecontentitem">
					<% month_totals = Sighting.map_by_month(@state.sightings) %>
					<%= render :partial => 'sightings/species_by_month', :object => month_totals %>
				</div>
			</div>
		<% else %>
			<%= show_trip_list(@state.trips, true) %>
		<% end %>

		<div id='mapContainer'>
			<% if (@state.locations.with_lat_long.size > 0) %>
				<% @map_module_title = 'State Map' %>                       
				<%= render :partial => 'locations/google', :locals => { :map_width => column_width, :map_height => column_width, :locations_json_url => '/states/locations/%s.json' % @state.id  } %>
			<% end %>
		</div>
	</div>
</div>

<%= render :partial => 'taxons/multi_column_list', :object => @state.taxons.species_seen %>
