<h3><%= @page_title %> in <%= link_to @county.state.name, state_url(@county.state) %></h3>

<%= render :partial => 'photos/gallery', :object => @county.photos %>

<div class="pagecontentmodule">
	<h4><%= @county.taxons.length %> Species</h4>
</div>

<%= render :partial => 'sightings/species_by_year_table', :object => @map, :locals => { :totals => @totals }%>

