<div class="lead">
	<%= @page_title %> in <%= link_to @county.state.name, state_url(@county.state) %>
</div> 

<% has_photos?(@county) do %>
	<%= render :partial => 'photos/gallery', :object => @county.photos %>
<% end %>

<div class="pagecontentmodule">
	<div class="moduletitle"><%= @county.taxons.length %> Species
	</div>
</div>

<%= render :partial => 'sightings/species_by_month_table', :object => @map, :locals => { :totals => @totals }%>

