<div class='container'>
	<h3>
		<%= @page_title %> in <%= link_to @county.state.name, state_url(@county.state) %>
	</h3> 
	                            
	<div class='row'>
		<div class='col-md-12'>
			<h4>Photos by Bill Walker</h4>  

			<%= render :partial => 'photos/gallery', :object => @county.photos %>
		</div>
	</div>

	<div class='row'>

		<div class='col-md-6'>
			<% if @county.common? %>
				<h4>County Notes</h4>	
				<div class="pagecontentitem">
					We visit <%= @county.name %> county at least
					<%= (@county.trips.length.to_f / @county.year_span.to_f).ceil %> times a year. 
				</div>	

				<h5>Latest trip</h5>	
				<div class="pagecontentitem">         
					<% latestTrip = @county.trips.latest %>
		 			<%= link_to latestTrip.name + ",  " + short_nice_date(latestTrip.date), trip_url(latestTrip) %>
				</div>

				<h5>First trip</h5>	
				<div class="pagecontentitem">
					<% earliestTrip = @county.trips.earliest %>
			 		<%= link_to earliestTrip.name + ",  " + short_nice_date(earliestTrip.date), trip_url(earliestTrip) %>
				</div>

				<h5>When we bird <%= @county.name %> County</h5>	
				<div class="pagecontentitem">                
					<% month_totals = Sighting.map_by_month(@county.sightings) %>
					<%= render :partial => 'sightings/species_by_month', :object => month_totals %>
				</div>
			<% else %>
				<h4>County Notes</h4>

				<%= show_trip_list(@county.trips, false) %>
			<% end %>   
		</div>  

		<div class='col-md-6'>
			<div id='mapWidth'>
				<% if (@county.locations.with_lat_long.size > 0) %>
				<% @map_module_title = 'County Map' %>                       
					<%= render :partial => 'locations/google', :locals => { :map_width => column_width, :map_height => column_width, :locations_json_url => '/counties/locations/%s.json' % @county.id } %>
				<% end %>
			</div>
		</div>

	</div>

	<%= render :partial => 'taxons/multi_column_list', :object => @county.taxons.species_seen %>
</div>	                                 