<% gallery_photos = gallery.sort{ |a,b| b.trip.date <=> a.trip.date} %>    
<% gallery_photos = gallery_photos.first(Photo.default_gallery_size())%>

<div class='seamless'>
	<% gallery_photos.each { | a_photo | %>
		<a href="<%= photo_url a_photo %>" data-toggle='tooltip' title='<%= a_photo.taxon.common_name %>, <%= short_nice_date(a_photo.trip.date) %> at <%= a_photo.location.full_name %>'>
			<img src='<%= a_photo.photo_URL %>' />
		</a>
	<% } %>
</div>
