<% photo = summary %>

<div class="pagecontentmodule">               
	<div style="float: <%= ((photo.id % 2) == 0 ? "left" : "right") %>; padding-<%= ((photo.id % 2) == 0 ? "right" : "left") %>: 10px">	
		<div class="photo"><%= link_to photo.photo, photo_url(photo) %></div>
	</div>

	<div style="float: <%= ((photo.id % 2) == 0 ? "right" : "left") %>; padding-<%= ((photo.id % 2) == 0 ? "left" : "right") %>: 10px">	
		<%= render :partial => 'locations/google_static_map', :object => photo.location%>
	</div>

	<div class="modulesubtitle">
		<div class="date">
			<%= link_to '%02d' % photo.trip.date.day, trip_url(photo.trip) %>
			<small><%= link_to photo.trip.date.strftime('%b%y'), trip_url(photo.trip) %></small>
		</div>            
		<%= link_to photo.species.common_name, species_instance_url(photo.species) %>,
		<%= link_to "%s, %s" % [photo.location.name, photo.location.county.state.abbreviation], location_url(photo.location) %>
	</div>             
	
	<% if photo.notes %> 
		<%= photo.notes %>
   	<% else %>
		<%= photo.trip.notes %>        
	<% end %>
	
	<br clear="all"/>
</div>
