<% if (@photo.species != nil) then
  		@page_title = @photo.species.common_name
   	else	
  		@page_title = "Unknown Species"
   end 
%>

<div class="lead">
	<%= @page_title %>
	<span style="font-size: 9pt"><%= link_to 'show', photo_url(@photo) %></span>
</div>

<div class="pageheaderitem"><%= link_to 'delete', photo_url(@photo), :confirm => 'Delete, Are you sure?', :method => 'delete' %></div>

<div class="pagecontentmodule">
	<div class="pagecontentitem">
		<%= @photo.photo %>
	</div>
	<hr />
	<div class="pagecontentitem">     
		<%= form_for @photo, :url => photo_path(@photo), :html => { :class => 'form-horizontal' } do |form|%>
  			<%= render :partial => 'form' %>
  			<%= submit_tag 'Save' %>
		<% end %>
	</div>
</div>

