<div class="pagecontentmodule">
	<h4>Bird of the Week: <%= @bird_of_the_week.common_name %></h4>
	<div class="pagecontentitem">
		<img width="100%" src="<%= @bird_of_the_week.photos.this_week[0].photo_URL %>"/>
		<h5>
			<%= link_to @bird_of_the_week.common_name, :controller => 'taxons', :action => 'show', :id => @bird_of_the_week %>,  
			<%= link_to nice_date(@bird_of_the_week.photos.this_week[0].trip.date), :controller => 'trips', :action => 'show', :id => @bird_of_the_week.photos.this_week[0].trip %> at 
			<%= link_to @bird_of_the_week.photos.this_week[0].location.name, :controller => 'locations', :action => 'show', :id => @bird_of_the_week.photos.this_week[0].location %>
		</h5>
	</div>
</div>                
