<div class="lead">Photo Search</div>

<div class="pagecontentmodule">
	<form action="/bird_walker/photo_search" method="post">
		<label for="sighting_location">Location</label>
		<%= collection_select("photo", "location_id", Location.find(:all, :order => 'name'), :id, :name, {:prompt => true}) %>

		<label for="location_county">County</label>
		<%= collection_select("photo", "county_id", County.find(:all, :order => 'name'), :id, :name, {:prompt => true}) %>

		<label for="county_state">State</label>
		<%= collection_select("county", "state_id", State.find(:all, :order => 'name'), :id, :name, {:prompt => true}) %>

		<label for="sighting_species">Species</label>
		<%= collection_select("photo", "species_id", Species.photographed, :id, :common_name, {:prompt => true}) %>

		<label for="sighting_species">Family</label>
		<%= collection_select("species", "family_id", Family.find_all_photographed, :id, :common_name, {:prompt => true}) %>

		<label for="trip_month">Month</label>
		<select id="date_month" name="date[month]">
			<option value="">Please select</option>
			<option value="1">January</option>
			<option value="2">February</option>
			<option value="3">March</option>
			<option value="4">April</option>
			<option value="5">May</option>
			<option value="6">June</option>
			<option value="7">July</option>
			<option value="8">August</option>
			<option value="9">September</option>
			<option value="10">October</option>
			<option value="11">November</option>
			<option value="12">December</option>
		</select>

		<label for="trip_year">Year</label>
		<select id="date_year" name="date[year]">
			<option value="">Please select</option>
			<%= options_for_select(Sighting.year_range) %>
		</select>

		<label for="rating">Rating</label>
		<select id="photo_rating" name="photo[rating]">
			<option value="">Please select</option>
			<%= options_for_select([1, 2, 3, 4, 5])%>
		</select>

		<input type="submit" value="Go"></input>
	</form>
	
	<% if (@found_photos != nil && @found_photos.size > 0) then %>
		<%= render :partial => 'photos/thumbnail_list', :object => @found_photos %>
	<% end %>			
</div>

