<% location_list = divided_list %>

<% locations_by_state = Location.map_by_state(location_list) %>

<% ordered_states = State.sort_alphabetic(locations_by_state.keys) %>

<div class="pagecontentmodule">
	<% if (show_headings) %>
		<h4>
			<%= location_list.size %> Locations in <%= locations_by_state.size %> States
		</h4>
	<% end %>

	<% for state in ordered_states %>
		<h5><%= state.name %>, <%= state.country.name %></h5>
		<%= render :partial => 'locations/onelinelink' , :collection => locations_by_state[state], :locals => { :show_extras => show_headings } %>
	<% end %>
</div>