<%= error_messages_for 'location' %>

<!--[form:location]-->

<div class="input-group">
	<span class='input-group-addon'>Name</span>
	<%= text_field 'location', 'name', :class => 'form-control'  %>
</div>

<div class="input-group">
	<span class='input-group-addon'>URL</span>
	<%= text_field 'location', 'reference_url', :class => 'form-control'  %>
</div>

<div class="input-group">
	<span class='input-group-addon'>City</span>
	<%= text_field 'location', 'city', :class => 'form-control'  %>

	<span class='input-group-addon'>County</span>
	<%= collection_select("location", "county_id", County.find(:all, :order => 'name'), :id, :name) %>
</div>

<div class="input-group">
	<span class='input-group-addon'>Lat</span>
	<%= text_field 'location', 'latitude', :class => 'form-control'  %>
	
	<span class='input-group-addon'>Long</span>
	<%= text_field 'location', 'longitude', :class => 'form-control'  %>
</div>

<div class="input-group">
	<div class="controls">
		<label class="checkbox" for="location_photo">
			<%= check_box 'location', 'photo'  %>
			Photo
		</label>
	</div>
</div>

<div class='input-group'>
	<span class='input-group-addon'>Notes</span>
	<%= text_area 'location', 'notes', :class => 'form-control'  %>
</div>

<!--[eoform:location]-->

