<% location = page_header %>

<div id="pageheader">
	<div id="pagetitle">
		<%= @page_title %>
		<% editing_is_allowed?() do %>
			<span style="font-size: 9pt"><%= link_to 'edit', edit_location_url(location) %></span>
		<% end %>

		in <%= link_to location.county.name + " County", county_url(location.county) %>,
		<%= link_to location.county.state.name, state_url(location.county.state) %>
		<% has_reference_url?(location) do %>
			(<a href="<%= location.reference_url %>">location website</a>)
		<% end %>
	</div>                    
</div>
