<% location = summary %>

<div class="pagecontentmodule">
	<% has_lat_long?(location) do %>
		<div style="float: left; padding-right: 10px">	
			<%= render :partial => 'locations/google_static_map', :object => location %>
		</div>
	<% end %>                                                     
	
	<h5>
		<%= link_to ("%s, %s" % [location.name, location.county.state.abbreviation]), location_url(location) %></a>
	</h5>	
	
	<div class="pagecontentitem">
		<div style="font-style: italic">
			<%= location.taxons.size %> species, <%= location.trips.size %> trips (latest on <%= short_nice_date(location.sightings.latest.trip.date) %>)
		</div>
		
		<% has_notes?(location) do %>
			<% if (location.notes.size > 500) %>
				<%= location.notes[0,500] %>...
			<% else %>
				<%= location.notes %>
			<% end %>
		<% end %>
	</div>

	<% has_lat_long?(location) do %>
		<br clear="all"/>
	<% end %>
</div>