<%= render :partial => 'page_header', :object => @location %>

<div class='row'>


	<div class='span4'>
		<% gallery_photos = @location.photos.sort{ |a,b| b.trip.date <=> a.trip.date} %>    
		<% gallery_photos = @location.photos.first(Photo.default_gallery_size())%>

		<div class="moduletitle">Photos by Bill Walker</div>  

		<%= render :partial => 'photos/gallery', :object => @location.photos %>
	</div>

	<div class='span4'>
		<div class="pagecontentmodule">
			<div class="moduletitle">Location Notes</div>  
			  
			<% if (@location.latitude != 0) %>
				<div class="pagecontentitem">Daylight today: <%= short_nice_time(@location.sunrise().localtime) %> to <%= short_nice_time(@location.sunset().localtime) %></div>  
			<% end %>  
			
			<% if @location.common? %>
				<div class="pagecontentitem">
					We visit <%= @location.name %> at least
					<%= (@location.trips.length.to_f / (@location.trips.latest.date.year - @location.trips.earliest.date.year)).ceil %> times a year. 
				</div>	
			<% else %>
				<div class="pagecontentitem">
					<%= show_trip_list(@location.trips, false) %>					
				</div>	               
	        <% end %>     

			<% has_notes?(@location) do %>
				<div class="pagecontentitem"><%= @location.notes %></div>
			<% end %>
		</div>                               
	</div>

	<div class='span4' id='mapContainer'>
		<% if (@location.latitude != 0) %>
			<% @center_latitude = @location.latitude %>
			<% @center_longitude = @location.longitude %>
			<% @locations = [ @location ] %>
			<% @map_module_title = 'Location Map' %>
			<%= render :partial => 'locations/google', :object => [ @location ], :locals => { :map_width => column_width, :map_height => column_width, :locations_json_url => '/locations/%s.json' % @location.id } %>
		<% end %>
	</div>

</div>


<%= render :partial => 'taxons/multi_column_list', :object => @location.taxons %>
